<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Dashboard | School Nutrition Program</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <!--<link rel="shortcut icon" href="assets/images/logo.png">-->

        <!-- third party css -->
        <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
        <!-- third party css end -->

        <!-- App css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <!--/****************** Highcharts JS*********************/-->
 <script type="text/javascript" src="assets/js/jquery.min.js"></script>
 
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />	
            
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/highcharts-more.js"></script>
 <script src="https://code.highcharts.com/highcharts-3d.js"></script>
 <script src="https://code.highcharts.com/modules/cylinder.js"></script>
 <script src="https://code.highcharts.com/modules/funnel3d.js"></script>
 <!--<script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/modules/accessibility.js"></script>-->
 <script src="assets/js/highcharts-SNP.js"></script>
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <a href="index.html" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo.png" alt="" height="65"> <b>School Meal Program</b>
                    </span>
                   <span class="logo-sm">
                        <img src="assets/images/logo.png" alt="" height="75">
                    </span>
                </a>    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">
                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-title side-nav-item">Main Menu</li>
                        <li class="side-nav-item">
                            <a href="dashboard.html"  class="side-nav-link">
                                <i class="uil-chart"></i>
                                <span> Dashboards </span>
                            </a>
                        </li>                         
                        <li class="side-nav-item">
                            <a href="consumption.html"  class="side-nav-link">
                                <i class="uil-chart"></i>
                                <span> Consumption Details</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="listing.html"  class="side-nav-link">
                                <i class="uil-chart"></i>
                                <span> Listing </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="gallery.html"  class="side-nav-link">
                                <i class="uil-table"></i>
                                <span> Gallery </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="index.html"  class="side-nav-link">
                                <i class="mdi mdi-logout"></i>
                                <span> Login </span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list d-lg-none">
                                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="dripicons-search noti-icon"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                    <form class="p-3">
                                        <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                    </form>
                                </div>
                            </li>

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="dripicons-bell noti-icon"></i>
                                    <span class="noti-icon-badge"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg">

                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="m-0">
                                            <span class="float-end">
                                                <a href="javascript: void(0);" class="text-dark">
                                                    <small>Clear All</small>
                                                </a>
                                            </span>Notification
                                        </h5>
                                    </div>

                                    <div style="max-height: 230px;" data-simplebar="">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary">
                                                <i class="mdi mdi-comment-account-outline"></i>
                                            </div>
                                            <p class="notify-details">Caleb Flakelar commented on Admin
                                                <small class="text-muted">1 min ago</small>
                                            </p>
                                        </a>
                                    </div>

                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                        View All
                                    </a>

                                </div>
                            </li>
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name">Admin</span>
                                        <span class="account-position">SED</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <div class=" dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->
                    
                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->       
                                             
                        <form>  
                            <div class="row">                              
                                <div class="col-3  filter-box-col">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Districts</label>
                                        <select class="form-select" id="example-select" placeholder="Districts">
                                            <option>Districts</option>
                                            <option>Districts2</option>
                                            <option>Districts3</option>
                                            <option>Districts4</option>
                                            <option>Districts5</option>
                                        </select>
                                    </div>                            
                                </div>  
                                <div class="col-3  filter-box-col">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Tehsils</label>
                                        <select class="form-select" id="example-select">
                                            <option>Tehsils</option>
                                            <option>Tehsils2</option>
                                            <option>Tehsils3</option>
                                            <option>Tehsils4</option>
                                            <option>Tehsils5</option>
                                        </select>
                                    </div>                            
                                </div>                              
                                <div class="col-3  filter-box-col">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Markaz</label>
                                        <select class="form-select" id="example-select">
                                            <option>Markaz</option>
                                            <option>Markaz2</option>
                                            <option>Markaz3</option>
                                            <option>Markaz4</option>
                                            <option>Markaz5</option>
                                        </select>
                                    </div>                            
                                </div>
                                <div class="col-3  filter-box-col">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">EMIS</label>
                                        <select class="form-select" id="example-select">
                                            <option>EMIS</option>
                                            <option>12345678</option>
                                            <option>12345678</option>
                                            <option>12345678</option>
                                            <option>12345678</option>
                                        </select>
                                    </div>                            
                                </div>
                                <div class="col-3  filter-box-col">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label">Schools</label>
                                        <select class="form-select" id="example-select">
                                            <option>GPS BASTI MEHTRAN	</option>
                                            <option>GPS BHATTI WALA	</option>
                                            <option>GPS BASTI GESHKORI</option>
                                        </select>
                                    </div>                            
                                </div>
                            </div>                        
                        </form>
                        <!-- end Filter -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-end">
                                                    <span class="widget-icon">
                                                        <img src="assets/images/school.png" alt="" height="32">
                                                    </span>
                                                </div>
                                                <h5 class="text-muted fw-normal mt-0 dashboard-card-heading" title="Number of Customers">Total Schools</h5>
                                                <h3 class="mt-3 mb-3">36,254</h3>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                    <div class="col-lg-3">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-end">
                                                    <span class="widget-icon">
                                                        <img src="assets/images/enroll.png" alt="" height="32">
                                                    </span>
                                                </div>
                                                <h5 class="text-muted fw-normal mt-0 dashboard-card-heading" title="Number of Orders">Total Enrollement</h5>
                                                <h3 class="mt-3 mb-3">5,543</h3>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                    <div class="col-lg-3">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-end">
                                                    <span class="widget-icon">
                                                        <img src="assets/images/attendance.png" alt="" height="32">
                                                    </span>
                                                </div>
                                                <h5 class="text-muted fw-normal mt-0 dashboard-card-heading" title="Number of Orders">Total Attendance</h5>
                                                <h3 class="mt-3 mb-3">5,543</h3>
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                    <div class="col-lg-3">
                                        <div class="card widget-flat">
                                            <div class="card-body">
                                                <div class="float-end">
                                                    <span class="widget-icon">
                                                        <img src="assets/images/boxes.png" alt="" height="32">
                                                    </span>
                                                </div>
                                                <h5 class="text-muted fw-normal mt-0 dashboard-card-heading" title="Number of Orders">Total Packs Issued till Date</h5>
                                                <h3 class="mt-3 mb-3">5,543</h3>

                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                                </div> <!-- end row -->

                            </div> <!-- end col -->
                        </div>
                        <!---------Inventory Start---------->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">                                     
                                        <h4 class="header-title mb-3">Districts Wise Inventory Utilization</h4>        
                                        <div id="inventoryUtilization"></div>
                                            
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

                            </div> <!-- end col -->
                        </div>
                        <!---------Inventory End---------->
                        <!---------Inventory Start---------->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">                                     
                                        <h4 class="header-title mb-3">Inventory</h4>                            
                                            <form>  
                                                <div class="row">                                                                                            
                                                    <div class="col-3 filter-box-col">
                                                        <div class="mb-3">
                                                            <label for="example-date" class="form-label">Start Date</label>                                                
                                                            <input class="form-control" type="Date" name="start_date_inventory" value="01/01/2024" />
                                                        </div>                            
                                                    </div> 
                                                    <div class="col-3 filter-box-col">
                                                        <div class="mb-3">
                                                            <label for="example-date" class="form-label">End Date</label>                                                
                                                            <input class="form-control" type="Date" name="end_date_inventory" value="01/01/2024" />
                                                        </div>                            
                                                    </div>        
                                                </div>                        
                                            </form>
                                        <div id="inventory"></div>
                                            
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

                            </div> <!-- end col -->
                        </div>
                        <!---------Inventory End---------->
                        <!--------- Utilization Start---------->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">                                     
                                        <h4 class="header-title mb-3">Utilization</h4>                            
                                            <form>  
                                                <div class="row">                                                                                            
                                                    <div class="col-3 filter-box-col">
                                                        <div class="mb-3">
                                                            <label for="example-date" class="form-label">Start Date</label>                                                
                                                            <input class="form-control" type="Date" name="start_date_utilization" value="01/01/2024" />
                                                        </div>                            
                                                    </div> 
                                                    <div class="col-3 filter-box-col">
                                                        <div class="mb-3">
                                                            <label for="example-date" class="form-label">End Date</label>                                                
                                                            <input class="form-control" type="Date" name="end_date_utilization" value="01/01/2024" />
                                                        </div>                            
                                                    </div>      
                                                </div>                        
                                            </form>
                                        <div id="utilization"></div>
                                            
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

                            </div> <!-- end col -->
                        </div>
                        <!--------- Utilization End---------->
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">All Districts</h4>
                                        <div class="data-table-wrapper">
                                            <table id="basic-datatable" class="table table-striped text-center" >
                                                <thead>
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>District</th>
                                                        <th>Inventory in Hand</th>
                                                        <th>Inventory in Issued</th>
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>D.G. KHAN</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>02</td>
                                                        <td>MUZAFFARGARH</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>03</td>
                                                        <td>RAJANPUR</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>                                           
                                                    
                                                </tbody>
                                            </table> 
                                        </div>                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div> <!-- end col-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">All D.G. KHAN</h4>
                                        <div class="data-table-wrapper">
                                            <table id="basic-datatable" class="table table-striped text-center" >
                                                <thead>
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>Date</th>
                                                        <th>Tehsil</th>
                                                        <th>Inventory in Hand</th>
                                                        <th>Inventory in Issued</th>
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>11-09-2024</td>
                                                        <td>D.G. KHAN</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>02</td>
                                                        <td>11-09-2024</td>
                                                        <td>D.G. KHAN</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>03</td>
                                                        <td>11-09-2024</td>
                                                        <td>D.G. KHAN</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>                        
                                                    
                                                </tbody>
                                            </table> 
                                        </div>                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div> <!-- end col-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">All D.G. KHAN</h4>
                                        <div class="data-table-wrapper">
                                            <table id="basic-datatable" class="table table-striped text-center" >
                                                <thead>
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>Date</th>
                                                        <th>Markaz</th>
                                                        <th>Inventory in Hand</th>
                                                        <th>Inventory in Issued</th>
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>11-09-2024</td>
                                                        <td>DRAHMAH - MALE</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>02</td>
                                                        <td>11-09-2024</td>
                                                        <td>SECONDARY-WING</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>03</td>
                                                        <td>11-09-2024</td>
                                                        <td>SAMINA-M</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>                        
                                                    
                                                </tbody>
                                            </table> 
                                        </div>                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div> <!-- end col-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">All DRAHMAH - MALE</h4>
                                        <div class="data-table-wrapper">
                                            <table id="basic-datatable" class="table table-striped text-center" >
                                                <thead>
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>Date</th>
                                                        <th>EMIS</th>
                                                        <th>School</th>
                                                        <th>Inventory in Hand</th>
                                                        <th>Inventory in Issued</th>
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>11-09-2024</td>
                                                        <td>32110245</td>
                                                        <td>GPS BASTI MEHTRAN</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>02</td>
                                                        <td>11-09-2024</td>
                                                        <td>32110251</td>
                                                        <td>GPS BHATTI WALA</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>    
                                                    <tr>
                                                        <td>03</td>
                                                        <td>11-09-2024</td>
                                                        <td>32110261</td>
                                                        <td>GPS BASTI GESHKORI</td>
                                                        <td>300</td>
                                                        <td>300</td>
                                                    </tr>                        
                                                    
                                                </tbody>
                                            </table> 
                                        </div>                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div> <!-- end col-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">GPS BASTI MEHTRAN</h4>
                                        <div class="data-table-wrapper">
                                            <table id="basic-datatable" class="table table-striped text-center" >
                                                <thead>
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>Date</th>
                                                        <th>EMIS</th>
                                                        <th>ECCE</th>                                                        
                                                        <th>Katchi</th>
                                                        <th>Class 1</th>
                                                        <th>Class 2</th>
                                                        <th>Class 3</th>
                                                        <th>Class 4</th>
                                                        <th>Class 5</th>
                                                        <th>Inventory in Hand</th>
                                                        <th>Inventory in Issued</th>                                                        
                                                        <th>Roznmacha</th>
                                                        <th>View</th>
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>11-09-2024</td>
                                                        <td>32110245</td>                                                       
                                                        <td>42</td>
                                                        <td>42</td>                                                        
                                                        <td>42</td>
                                                        <td>42</td>                                                        
                                                        <td>42</td>
                                                        <td>42</td>                                                        
                                                        <td>42</td>
                                                        <td>42</td> 
                                                        <td>300</td>
                                                        <td><a href="#"><i class="dripicons-photo"></i></a></td> 
                                                        <td><a href="gallery.html"><i class="uil uil-eye"></i></a></td>
                                                    </tr>           
                                                    
                                                </tbody>
                                            </table> 
                                        </div>                                        
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <script>document.write(new Date().getFullYear())</script> © Program Monitoring & Implementation Unit. All Rights Reserved.
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- bundle -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>

        <!-- third party js -->
        <script src="assets/js/vendor/apexcharts.min.js"></script>
        <script src="assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="assets/js/pages/demo.dashboard.js"></script>
        <!-- end demo js-->
        <script>
            $(function() {
              $('input[name="daterange_inventory"]').daterangepicker({
                opens: 'left'
              }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
              });
              $('input[name="daterange_utilization"]').daterangepicker({
                opens: 'left'
              }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
              });
            });
            </script>
    </body>
</html>